body {
  background-color: #ccffff;
}

h2{
  font-size: 36px;
  font-style: italic;
}

p{
  font-size: 24px;
  color: #0066ff;
  font-family: "Times New Roman", Times, serif;
}

li{
  font-size: 22px;
  color: #3366ff;
  font-family: "Times New Roman", Times, serif;
}

#helo {
  overflow: hidden;
}

img {
  width: 400px;
  height: 300px;
  display: inline-block;
  float: left;
}
