body {
  background-color: #ECE0F8;
}

h2{
font-size: 18px;
}

p{
    font-size: 14px;
    color: #9A2EFE;
    font-family: "Times New Roman", Times, serif;
}

#helo {
  overflow: hidden;
}

img {
  display: inline-block;
  float: left;
}
